.thumbnail {
    max-height: 120px;
    max-width: auto;
}


#input{
    display: flex;
    flex-direction: column;
}

#submit {
    width: 120px;
}

#cupcake-output{
    display: flex;
    flex-wrap: wrap;
}