<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Cupcakes</title>
    
</head>
<body>
<h1>Available Cupcakes:</h1>

<div id="cupcake-output">

</div>
<h1>Submit your own Cupcake:</h1>
<form action="" id="input">

<label for="flavor">Flavor: <input name = "flavor", id = "flavor"></label>
<label for="size">Size: <input name = "size" id ="size"></label>    
<label for="rating">Rating: <input name = "rating" id = "rating"></label>  
<label for="image_url">Image_URL: <input name = "image_url" id ="image_url"></label>   
<button type="submit" id="submit">Submit</button>
</form> 
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>
</body>
</html>